@model StoreFrontDetailViewModel
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @if (Model.InventoryItem == null)
    {
        <div class="col-md-12 text-center m-4">
            <h2>Product Not Found...</h2>
            <a href="~/">Return to our main product list.</a>
            <h1><i class="fas fa-2 fa-box-open"></i></h1>
        </div>
    }
    else
    {
        <div class="col-md-4 text-center">
            @if (Model.InventoryItem.PrimaryPhoto != null)
            {
                <img src="@Model.InventoryItem.PrimaryPhoto.Url" style="max-height:300px" title="@Model.InventoryItem.PrimaryPhoto.Caption" />
            }
            <h1>@Html.DisplayFor(m => m.InventoryItem.Name)</h1>
            <h3>@Html.DisplayFor(m => m.InventoryItem.DisplayPrice)</h3>
            <div>
                <button class="btn btn-primary btn-lg">
                    BUY IT NOW
                </button>
            </div>
        </div>
        <div class="col-md-8">
            <div class="m-3 mt-5 m-md-3 mt-md-0">
                @Html.DisplayFor(m => m.InventoryItem.Description)
            </div>
        </div>
        if (Model.RelatedItems?.Any() ?? false)
        {
        <div class="col-md-12 pl-4 pt-5 pb-4">
            <hr />
            <h3>Related Products</h3>
        </div>
        @foreach (var item in Model.RelatedItems)
        {
            <div class="col-md-4 text-center pb-4">
                <a href="~/Home/Product/@item.Id">
                    <img src="@item.PrimaryPhoto?.Url" height="200" class="p-3" />
                    <div>@Html.DisplayFor(x => item.Name)</div>
                </a>
            </div>
        }
        }
    }
</div>